.main {
  /* max-width: 1000px;  */
  margin: auto;
  width: 100%;
 

}
ul{
  list-style-type:none;
  }

  img{
  
    width: 500px;
    height: 294px;
    /* resizeMode: 'contain'; */
  }

  .image{ 
    justify-content: center;
  }